<h1>nuigroup</h1>
<h4>ぬいぐるみ好きの、<br>ぬいぐるみ好きによる、<br>ぬいぐるみ好きのための集会</h4>
<p class="about-paragraph">
  ここは、ぬいぐるみの撮影写真……いわゆる"ぬい撮り"の写真を投稿したり、<br>
  仲間のぬい撮り写真を眺めたり、<br>
  ぬいぐるみ愛を語り合うために作られた小さな集会所です。<br><br>
  ぬいぐるみを自慢したい方、ぬいぐるみ写真を見たい方、<br>
  これからぬい撮りをしたいと思っている方などなど…<br>
  ぬいぐるみを愛する人全てがささやかな幸せを持ち寄って、<br>
  より幸せになれる空間を一緒に作っていきましょう。<br>
</p>
<div class="about-menu">
  <ul>
    <li><%= link_to 'Sign up', new_user_registration_path, class: "btn btn-primary" %></li>
    <li><%= link_to 'Log in', new_user_session_path, class: "btn btn-primary" %></button></li>
  </ul>
</div>
