@use '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
  position: relative;

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #8A456C;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #E6D0DE;
    border-radius: 5px;
  }
}

body {
  background-color: #E6D0DE;
  color: #8A456C;
}

header {
  width: 100%;
  height: 190px;
  display: flex;
  background-color: #8A456C;
  color: #FFFFFF;
  position: relative;
}

.title_nuigroup {
  margin: auto auto auto 10px;
}

.admin_nuigroup {
  position: absolute;
  right: 0;
  bottom: 0;
}

.title_nuigroup :hover, .admin_nuigroup :hover {
  opacity: 0.9;
  filter: brightness(110%);
  transition-duration: 0.3s;
}

.form-submit,.form-jump {
  margin: 0 0 0 auto;;
}

#input .inner {
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
  padding: 24px;
}

#input .inner-white {
  width: 500px;
  background: #FFFFFF;
  max-width: 100%;
  margin: 20px auto;
  padding: 24px;
  border: 1px solid #8A456C;
  border-radius: 30px;
}

#input .inner-white-l {
  width: 800px;
  background: #FFFFFF;
  max-width: 100%;
  margin: 20px auto;
  padding: 24px;
  border: 1px solid #8A456C;
  border-radius: 30px;
}

.inner-white-s {
  width: 400px;
  background: #FFFFFF;
  max-width: 100%;
  margin: 15px auto;
  padding: 24px;
  border: none;
  border-radius: 30px;
}

.inner-white-s table {
  margin: 0 auto;
}

.inner-white-s tr {
  height: 2.5em;
}

.user {
  display: flex;
  width: 1190px;
  margin: 0 auto;
  padding: 0 20px;
}

.inner-magenta {
  margin: 130px 20px auto auto;
  padding: 15px 0;
  margin-left: max(20px, auto);
  width: 330px;
  max-width: 100%;
  background: #8A456C;
  border: none;
  border-radius: 30px;
}

.form-label {
  font-family: Georgia, serif;
  font-style: italic;
  text-shadow: 3px 3px 6px rgba(106, 63, 63, 0.7);
  font-size: 23px;
}

.form-label-s {
  font-size: 16px;
}

.form-label-s:hover {
  color: #C77B9F;
  transition-duration: 0.2s;
}

h1,h2,h4,.about-paragraph {
  text-align: center;
}

h1 {
  margin: 20px auto 50px auto;
  font-size: 50px;
}

h2 {
  margin: 10px auto 30px auto;
  font-size: 40px;
}

.login-user {
  font-size: 16px;
  margin-bottom: 0;
}

.author {
  font-family: Georgia, serif;
  font-style: italic;
  text-shadow: 3px 3px 6px rgba(106, 63, 63, 0.7);
  font-size: 20px;
  margin-bottom: 0;
}

.author-2 {
  color: #E6D0DE;
  font-weight: bold;
}

h1,h2,.form-label-s,.jump,.login-user {
  font-family: Georgia, serif;
  font-style: italic;
  text-shadow: 3px 3px 6px rgba(106, 63, 63, 0.7);
}

.about-paragraph {
  margin: 20px 200px;
  padding: 30px 30px;
  background: #C77B9F;
  border-radius: 10px;
  color: #FFFFFF;
}

.about-menu {
  display: flex;
}

.about ul {
  margin: 20px auto;
}

.menubar {
  margin: auto 20px auto auto;
}

.menu-list {
  margin: 0 auto;
  display: flex;
  list-style: none;
  align-items: center;
}

.menu-list-item {
  margin-left: 10px;
}

.content-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-column {
  flex-direction: column;
}

.text-justify {
  display: flex;
  justify-content: center;
}

.text {
  width: 450px;
  text-align: left;
}

.btn-light {
  font-family: Georgia, serif;
  font-style: italic;
  border-radius: 10px;
  background: #C77B9F;
  border: 3px solid #C77B9F;
  color: #FFFFFF;
}

.btn-light-ss {
  width: 90px;
  height: 40px;
  padding: auto 10px;
  font-size: 16px;
}

.btn-light-s {
  width: 130px;
  height: 50px;
  padding: 10px 10px;
  font-size: 16px;
}

.btn-light {
  font-style: italic;
  border-radius: 10px;
  background: #C77B9F;
  border: 3px solid #C77B9F;
  color: #FFFFFF;
}

.btn-light-bar1 {
  width: 245px;
  height: 50px;
  padding: 5px;
  font-size: 23px;
}

.btn-light-bar2 {
  width: 110px;
  height: 50px;
  padding: 5px;
  font-size: 23px;
}

.btn-light-m {
  padding: 20px 20px;
  font-size: 23px;
}

.btn-light-l {
  padding: 30px 30px;
  font-size: 40px;
}

.btn-light-post {
  padding: 0 30px;
  font-size: 90px;
}

.btn-light:hover, .btn-light:focus,
.btn-light:active, .btn-light:active:focus, .btn-light:active:hover, .btn-light:active.focus,
.btn-light.active, .btn-light.active:focus, .btn-light.active:hover, .btn-light.active.focus,
.open > .dropdown-toggle.btn-light,
.open > .dropdown-toggle.btn-light:hover,
.open > .dropdown-toggle.btn-light:focus,
.open > .dropdown-toggle.btn-light.focus,
.btn-light.disabled:hover, .btn-light[disabled]:hover, fieldset[disabled] .btn-light:hover,
.btn-light.disabled:focus, .btn-light[disabled]:focus, fieldset[disabled] .btn-light:focus,
.btn-light.disabled.focus, .btn-light[disabled].focus, fieldset[disabled] .btn-light.focus {
  background: #E6D0DE;
  border: 3px solid #E6D0DE;
  color: #FFFFFF;
}

.btn-light.outline {
  border: 3px solid #C77B9F;
  color: #FFFFFF;
}

.btn-file {
  border: 3px solid #C77B9F;
  background: #C77B9F;
  overflow: hidden;
  position: relative;
  input[type=file] {
    display: block;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 100px;
    text-align: right;
    opacity: 0;

    filter: alpha(opacity=0);
  }
}

.btn-file:hover {
  border: 3px solid #E6D0DE;
  background: #E6D0DE;
}

a {
  color: #8A456C;
}

a:hover {
  text-decoration: none;
  color: #C77B9F;
  transition-duration: 0.2s;
}

hr {
  height: 1;
  margin: 0;
  padding: 0;
  border: 0;
}

.line1 {
  border-top: 1px solid #C77B9F;
  margin: 40px auto 20px auto;
}

.table-1 {
  border-collapse: collapse;
  width: 900px;
  margin: 50px auto;
}

.table-1 a, .admin-return a {
  text-decoration: underline;
}

.table-1 a:hover, .admin-return a:hover {
  text-decoration: none;
}

.table-1, .table-1 th, .table-1 td {
  border: 1px #8A456C solid;
}

.table-1 thead {
  color: #fff;
  font-size: 12px;
  background-color: #B5739D;
}

.table-1 tbody {
  font-size: 15px;
  background-color: #E1D5E7;

}

.table-1 th {
  padding: 5px 0;
}

.table-1 td {
  padding: 10px 0;
}

.table-1 tbody tr:nth-child(odd) {
  background-color: #fff;
}

.table-2 {
  margin: 0 auto;
}

.table-2 td {
  padding: 5px;
}

.admin-return {
  margin: 0 auto;
  width: 900px;
  text-align: right;
}

.modal-content {
  overflow: scroll;
  background-color: #E6D0DE;
  height: 80vh;
}